body {
  background: #060c21;
}

.container {
  padding: 0px 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgb(21, 32, 42);
  border: none;
  outline: none;
}

.container:hover {
  box-shadow: 1px 7px 8px 1px rgb(26, 26, 61);
}
.container p {
  font-size: 30px;

  color: white;
  font-family: sans-serif;
}
